# PyCity Schools Analysis

1) Students in charter schools had higher average test scores in math and reading than students in district schools.

In [138]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
schools_df = pd.read_csv(school_data_to_load)
students_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])

In [139]:
# Create dataframe with Pycity Schools summary
total_schools = len(schools_df.index)
total_students = len(students_df.index)
total_budget = schools_df["budget"].sum()
avg_math_score = students_df["math_score"].mean()
avg_reading_score = students_df["reading_score"].mean()
percent_passing_math = len(students_df.loc[students_df['math_score'] >= 70]) / total_students
percent_passing_reading = len(students_df.loc[students_df['reading_score'] >= 70]) / total_students
percent_passing_overall = (avg_math_score + avg_reading_score) / 200

pycityschools_df = pd.DataFrame(
    {"Total Schools":[total_schools],
     "Total Students":[total_students],
     "Total Budget":[total_budget],
     "Average Math Score":[avg_math_score],                                       
     "Average Reading Score":[avg_reading_score],
     "% Passing Math":[percent_passing_math],
     "% Passing Reading":[percent_passing_reading],
     "% Overall Passing Rate":[percent_passing_overall]
    })

pycityschools_df.style.format({"Total Students":"{:,}",
                        "Total Budget": "${:,.2f}", 
                       "Average Math Score": "{:.1f}",               
                       "Average Reading Score": "{:.1f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}",
                       "% Overall Passing Rate": "{:.1%}"})

## School Summary

In [140]:
# Group by school, setting index to school name
by_school_df = school_data_complete.set_index('school_name').groupby(['school_name'])

#print(by_school_df.head())

# Get school types
types_df = schools_df.set_index('school_name') ["type"]

# Count up students per school
students_per_school_df = by_school_df['student_name'].count()

# Get schools budgets
budget_df = schools_df.set_index('school_name') ['budget']

# Get school budgets per student
student_budget_df = schools_df.set_index('school_name')['budget']  \
                    /schools_df.set_index('school_name')['size']

# Get average math and reading scores per school
average_math_score_schools = by_school_df['math_score'].mean()
average_reading_score_schools = by_school_df['reading_score'].mean()

# Get percentages of those passing math and reading per school
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]. \
        groupby('school_name')['student_name'].count()/students_per_school_df

passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].  \
        groupby('school_name')['student_name'].count()/students_per_school_df 

# Get percentage of overall passing rates
overall_passing = (passing_math + passing_reading) / 2

# create a dataframe containing a dictionary of the dataframes created above
school_summary = pd.DataFrame({
    "School Type": types_df,
    "Total Students": students_per_school_df,
    "Per Student Budget": student_budget_df,
    "Total School Budget": budget_df,
    "Average Math Score": average_math_score_schools,
    "Average Reading Score": average_reading_score_schools,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    "Overall Passing Rate": overall_passing
})

## Top Performing Schools (By Passing Rate)

In [141]:
# Get the top five performing schools sorted by overall passing rate
top_five_schools = school_summary.sort_values("Overall Passing Rate", ascending = False)

# Format and display
top_five_schools.head(5).style.format({
    "Total Students": '{:,}',
    "Total School Budget": "${:,}", 
    "Per Student Budget": "${:.0f}",
    "Average Math Score": "{:.2f}", 
    "Average Reading Score": "{:.2f}",         
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "Overall Passing Rate": "{:.2%}"})

## Bottom Performing Schools (By Passing Rate)

In [142]:
# Get the bottom five performing schools sorted by overall passing rate
bottom_five_schools = school_summary.sort_values("Overall Passing Rate", ascending = True)

# Format and display
bottom_five_schools.head(5).style.format({
    "Total Students": '{:,}',
    "Total School Budget": "${:,}", 
    "Per Student Budget": "${:.0f}",
    "Average Math Score": "{:.2f}", 
    "Average Reading Score": "{:.2f}",         
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "Overall Passing Rate": "{:.1%}"
    })

## Math Scores by Grade

In [143]:
# Get average reading scores per grade for each school
ninth_grade_math = students_df.loc[students_df['grade'] == '9th'].  \
                groupby('school_name')["math_score"].mean()
tenth_grade_math = students_df.loc[students_df['grade'] == '10th'].  \
                groupby('school_name')["math_score"].mean()
eleventh_grade_math = students_df.loc[students_df['grade'] == '11th'].   \
                groupby('school_name')["math_score"].mean()
twelfth_grade_math = students_df.loc[students_df['grade'] == '12th'].  \
                groupby('school_name')["math_score"].mean()

# Assemble dataframe
math_scores = pd.DataFrame({
        "9th": ninth_grade_math,
        "10th": tenth_grade_math,
        "11th": eleventh_grade_math,
        "12th": twelfth_grade_math
        })

# Rename index for display
math_scores.index.name = "School"

# Format and display
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

In [144]:
# Get average reading scores per grade for each school
ninth_grade_reading = students_df.loc[students_df['grade'] == '9th'].   \
        groupby('school_name')["reading_score"].mean()
tenth_grade_reading = students_df.loc[students_df['grade'] == '10th'].   \
        groupby('school_name')["reading_score"].mean()
eleventh_grade_reading = students_df.loc[students_df['grade'] == '11th'].   \
        groupby('school_name')["reading_score"].mean()
twelfth_grade_reading = students_df.loc[students_df['grade'] == '12th'].   \
        groupby('school_name')["reading_score"].mean()

# Assemble dataframe
reading_scores = pd.DataFrame({
        "9th": ninth_grade_reading,
        "10th": tenth_grade_reading,
        "11th": eleventh_grade_reading,
        "12th": twelfth_grade_reading
        })

# Rename index for display
reading_scores.index.name = "School"

# Format and display
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

In [145]:
# Create bins for budget per student and group names
spending_bins = [0, 585, 615, 645, 675]
group_names = ['< $585', "$585-615", "$615-645", "$645-675"]

# Add column spending bins with segmented values based on budget by size

school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']  \
                                 /school_data_complete['size'], spending_bins, labels = group_names)

# Group school data by defined bins
by_spending = school_data_complete.groupby('spending_bins')

# Compute desired values for each group
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].   \
            groupby('spending_bins')['student_name'].count()/by_spending['student_name'].count()
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].  \
            groupby('spending_bins')['student_name'].count()/by_spending['student_name'].count()
overall_passing = (passing_math + passing_reading) / 2

# Assemble dataframe
scores_by_spending = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    "% Overall Passing Rate": overall_passing         
    })

# Rename index for display
scores_by_spending.index.name = "Per Student Budget"

# Format and display
scores_by_spending.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing Rate': '{:.1%}'})

## Scores by School Size

In [146]:
# Create bins for school size and group names and divide data
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]

# Add column size_bins with segmented and sorted values
school_data_complete['size_bins'] = \
        pd.cut(school_data_complete['size'], size_bins, labels = group_names)

# Group data by size_bins
by_size = school_data_complete.groupby('size_bins')

# Compute values for each group  
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]. \
        groupby('size_bins')['student_name'].count()/by_size['student_name'].count()
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].  \
        groupby('size_bins')['student_name'].count()/by_size['student_name'].count()
overall_passing = (passing_math + passing_reading) / 2
          
# Assemble dataframe   
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    "% Overall Passing Rate": overall_passing
    })

# Rename index for display
scores_by_size.index.name = "Total Students"

# Format and display
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing Rate': '{:.1%}'})

## Scores by School Type

In [147]:
# Group schools data by school type
by_type = school_data_complete.groupby("type")

# Compute values on by type data 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].   \
        groupby('type')['student_name'].count()/by_type['Student ID'].count()
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].   \
        groupby('type')['student_name'].count()/by_type['Student ID'].count()
overall_passing = (passing_math + passing_reading) / 2

# Assemble dataframe         
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    "% Overall Passing Rate": overall_passing})

# Rename index for display    
scores_by_type.index.name = "Type of School"

# Format and display
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing Rate': '{:.1%}'})